body {
  background-color: #191a1d;
  font-family: "Space Mono", "sans serif";
  color: #f4f4f4;
  margin-left: 25px;
  margin-right: 25px;
}

p {
  color: #818391;
}

strong {
  color: #f4f4f4;
}

#nav-bar {
  border-bottom: 1px solid #f4f4f4;
  background-color: #191a1d;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: auto;
  position: fixed;
  top: 0;
  left: 0;
}
a:link {
  text-decoration: none;
  color: #f4f4f4;
}

a:visited {
  color: #f4f4f4;
}

a:hover {
  background-color: #3bbecd;
}

a:active {
  color: #818391;
}

#home-link {
  display: flex;
  align-items: center;
}

#nav-links {
  /* width: 75%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  color: #3bbecd;
  text-align: center;
}

#logo-link:link {
  margin-left: 100px;
  padding: 5px;
  text-decoration: none;
  color: #3bbecd;
}

#logo-link:hover {
  background-color: #191a1d;
}

#contact-link,
#projects-link {
  margin-right: 100px;
  padding: 5px;
}

form {
  width: 50%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}


#name {
  width: 100%;
  padding: 15px;
  background-color: rgb(60, 190, 204, 0.7);
  color: #191a1d;
  font-size: inherit;
  font-family: inherit;
}

#email {
  width: 100%;
  padding: 15px;
  background-color: rgb(60, 190, 204, 0.7);
  color: #191a1d;
  font-size: inherit;
  font-family: inherit;
}

#message {
  width: 100%;
  padding: 15px 15px 100px 15px;
  background-color: rgb(60, 190, 204, 0.7);
  color: #191a1d;
  font-size: inherit;
  font-family: inherit;
}

#name:focus, #email:focus, #message:focus {
  background-color: #3bbecd;
  box-shadow: 5px 10px 18px #f4f4f4;
  outline: none;
  ;
}

#name:active, #email:active, #message:active {
  background-color: rgb(60, 190, 204, 0.7);


}

#name.visted {
  background-color: rgb(60, 190, 204, 0.7);

}

::placeholder {
  color: #f4f4f4;
}

#submit,
#alert-button {
  background-color: transparent;
  border: 3px solid #3bbecd;
  border-radius: 20px;
  font-size: 18px;
  padding: 20px;
  color: #818391;
  width: fit-content;
  align-self: center;
}

#submit:hover,
#alert-button:hover {
  background-color: #3bbecd;
}

#submit:active,
#alert-button:active {
  background-color: #818391;
  border: 3px solid #3bbecd;
  border-radius: 20px;
  color: #f4f4f4;
}

#submit:focus,
#alert-button:focus {
  outline: none;
}

#alert-container {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191a1d;
  padding: 100px;
  border: 2px solid #3bbecd;
}

#alert-message {
  text-align: center;
  margin: 15px;
}

#alert-button {
  justify-content: center;
  margin: 15px;
}

#contact {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

#linkedin-col,
#github-col,
#email-col,
#resume-col {
  text-align: center;
  margin: 2em;
  padding: 20px 35px 15px 35px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #3bbecd inset !important;
}
