body {
  background-color: #191a1d;
  font-family: "Space Mono", "sans serif";
  color: #f4f4f4;
  margin-left: 25px;
  margin-right: 25px;
}

p {
  color: #818391;
}

strong {
  color: #f4f4f4;
}

#nav-bar {
  border-bottom: 1px solid #f4f4f4;
  background-color: #191a1d;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: auto;
  position: fixed;
  top: 0;
  left: 0;
}
a:link {
  text-decoration: none;
  color: #f4f4f4;
}

a:visited {
  color: #f4f4f4;
}

a:hover {
  background-color: #3bbecd;
}

a:active {
  color: #818391;
}

#home-link {
  display: flex;
  align-items: center;
}

#nav-links {
  /* width: 75%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  color: #3bbecd;
  text-align: center;
}

#logo-link:link {
  margin-left: 100px;
  padding: 5px;
  text-decoration: none;
  color: #3bbecd;
}

#logo-link:hover {
  background-color: #f4f4f4;
}


#contact-link,  #projects-link{
  margin-right: 100px;
  padding: 5px;
}


#row-1 {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
}

#contact-col {
  /* border: 2px solid yellowgreen; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

#contact-row-1,
#contact-row-2 {
  display: flex;
  justify-content: space-around;
}

#linkedin-col,
#github-col,
#email-col,
#resume-col {
  text-align: center;
  margin: 2em;
  padding: 15px;
}

#about-me-col {
  width: 50%;
  color: #f4f4f4;
}

#about-me-btn,
#home-btn {
  background-color: #5fe8ff;
  /* border: 2px solid #5fe8ff; */
  color: #f4f4f4;
  width: fit-content;
  align-self: center;
  margin-bottom: 15px;
}

#about-me-btn:hover,
#home-btn:hover {
  background-color: #fc49ab;
}

#about-me-btn:active,
#home-btn:active {
  background-color: rgb(231, 255, 0, 0.4);
  border: 2px solid #e7ff00;
}

#about-me-home {
  text-align: center;
  flex-direction: column;
}

#about-me-expanded {
  text-align: center;
  flex-direction: column;
  margin-top: 15px;
  font-size: 24px;
}

#row-2 {
  /* border: 2px solid red; */
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 15px;
}

#featured-projects {
  grid-column: 1/3;
  margin-left: 5px;
  height: 25px;
}

a .project-square {
  /* border: 2px solid orange; */
  margin: 5px;
  display: flex;
  flex-direction: column;
}

#node-master-div {
  width: 100%;
  height: 350px;
  background-image: url("../images/node-master.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#fitness-tracker-div {
  width: 100%;
  height: 350px;
  background-image: url("../images/fitness-tracker.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#employee-list-div {
  width: 100%;
  height: 350px;
  background-image: url("../images/employee-list.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#burger-div {
  width: 100%;
  height: 350px;
  background-image: url("../images/burger.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#row-3 {
  background-color: #f4f4f4;
  color: #191a1d;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
}

#familiar-languages {
  grid-column: 1/6;
  justify-self: start;
  margin-bottom: 10px;
  padding-left: 5px;
  background-color: #191a1d;
  color: #f4f4f4;
  height: 100%;
  width: 100%;
}

.language-image {
  background-color: #f4f4f4;
  margin: 10px;
}

#html {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/HTML5_Logo_128.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#css {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/css3-icon.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#js {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/javascript.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#node {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/nodejs.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#express {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/express.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#jquery {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/jQuery.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#mysql {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/mySQL.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
}

#mongo {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/mongodb.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#jest {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/jest.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#bootstrap {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/bootstrap-icon.png");
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#react {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/react.png");
  grid-column: 2/3;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#python {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/python.png");
  grid-column: 3/4;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#postgresql {
  height: 128px;
  width: 128px;
  background-image: url("../images/languages/postgresql.png");
  grid-column: 4/5;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

#weather-row {
  margin-top: 150px;
  background-color: rgb(231, 255, 0, 0.4);
  width: 100%;
}
